body {
    background-color: #000000;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;

    min-height: 100vh;
    width: 80vh;

    background: linear-gradient(92deg, #000 25%, rgba(0, 0, 0, 0) 70%) no-repeat;
}

main .console {
    display: none;
    height: 100vh;
}

main .console.selecionado {
    display: block;
}

main .console .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .nome-console {
    color: #ffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao {
    color: #ffffff;
    font-size: "Rubik";
    font-size: 16px;
    line-height: 40px;
}

.botoes {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    width: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    gap: 16px;
}

.botoes .botao {
    border: none;
    background-color: #D9D9D9;
    width: 90px;
    height: 90px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #D9D9D9
}

.botoes .botao.playstation1.selecionado {
    box-shadow: 0 0 20px #ff0000;
}

.botoes .botao.playstation2.selecionado {
    box-shadow: 0 0 20px #3f3cff;
}

.botoes .botao.playstation3.selecionado {
    box-shadow: 0 0 20px #1fff01;
}

.botoes .botao.playstation4.selecionado {
    box-shadow: 0 0 20px #ffffff;
}

.botoes .botao.playstation5.selecionado {
    box-shadow: 0 0 20px #05e8ff;
}