body {
    background-color: #000000;
    overflow-x: hidden; /* Evita que a página tenha rolagem horizontal */
}

/* MELHORIA visual no gradiente */
main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;

    min-height: 100vh;
    width: 80vh;
    

    background: linear-gradient(92deg, #000 25%, rgba(0, 0, 0, 0) 70%) no-repeat;
}

/* MELHORIA adiciona transição suave entre consoles*/
main .console {
    display: none;
    height: 100vh;
    
    opacity: 0;
    transition: opacity 0.6s ease;
}

main .console.selecionado {
    display: block;
    opacity: 1;
}

/* MELHORIA efeito cinematográfico nas imagens*/
main .console .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: scale(1.05);
    transition: transform 6s ease;
}


.conteudo {
    
    position: absolute;
    top: 0;
    /* ALTERAÇÃO - sobe o conteúdo */
    left: 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 420px;
    z-index: 1;    

    backdrop-filter: blur(3px);
}

.conteudo .nome-console {
    
    color: #ffffff;
    font-size: 36px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
    /* MELHORIA sombra estilo game site    */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 20px rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;

}

/* ALTERAÇÃO havia erro: font-size: "Rubik"*/
.conteudo .descricao {
    
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    line-height: 24px;

    /* CONTORNO */
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.9),
        -1px -1px 2px rgba(0, 0, 0, 0.9),
        0 0 5px rgba(0, 0, 0, 0.8);

}

.titulo-jogos {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.jogos {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.jogos img {
    width: 90px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
    transition: 0.3s;
    aspect-ratio: 2/3;
}

.jogos img:hover {
    transform: scale(1.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.botoes {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    gap: 16px;
}

.botoes .botao {
    border: none;
    background-color: #D9D9D9;
    width: 90px;
    height: 90px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 50%;
    /* MELHORIA borda para efeito gamer*/
    border: 1px solid transparent;
}

.botoes .botao img {
    border-radius: 50%;
}

/* MELHORIA interação */
.botoes .botao:hover {
    transform: scale(1.2);
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #D9D9D9
}

.botoes .botao.playstation1.selecionado {
    box-shadow:
        0 0 5px rgba(255, 0, 60, 0.8),
        0 0 15px rgba(255, 0, 60, 0.9),
        0 0 30px rgba(255, 0, 60, 1),
        0 0 60px rgba(255, 0, 60, 0.8);
}

.botoes .botao.playstation2.selecionado {
    box-shadow:
        0 0 5px rgba(0, 100, 255, 0.8),
        0 0 15px rgba(0, 100, 255, 0.9),
        0 0 30px rgba(0, 100, 255, 1),
        0 0 60px rgba(0, 100, 255, 0.8);
}

.botoes .botao.playstation3.selecionado {
    box-shadow:
        0 0 5px rgba(0, 255, 120, 0.8),
        0 0 15px rgba(0, 255, 120, 0.9),
        0 0 30px rgba(0, 255, 120, 1),
        0 0 60px rgba(0, 255, 120, 0.8);
}

.botoes .botao.playstation4.selecionado {
    box-shadow:
        0 0 5px rgba(255, 255, 255, 0.8),
        0 0 15px rgba(255, 255, 255, 0.9),
        0 0 30px rgba(255, 255, 255, 1),
        0 0 60px rgba(255, 255, 255, 0.8);
}

.botoes .botao.playstation5.selecionado {
    box-shadow:
        0 0 5px rgba(28, 63, 188, 0.8),
        0 0 15px rgba(28, 63, 188, 0.9),
        0 0 30px rgba(0, 150, 255, 1),
        0 0 60px rgba(0, 200, 255, 0.9);
}

/* MELHORIA animação de brilho para o console selecionado, faz o botaõ pulsar*/
@keyframes neonPulse {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.5);
    }

    100% {
        filter: brightness(1);
    }
}

.botoes .botao.selecionado {
    animation: neonPulse 2s infinite alternate;
}